* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
  }
  
  header {
    background-color: rgb(63, 34, 34);
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    color: white;
  }
  
  main {
    padding: 20px;
  }
  
  .feedback-form {
    background-color: #333;
    border: 2px solid rgb(49, 21, 21);
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  .feedback-form h2 {
    color: rgb(226, 221, 221);
    margin-bottom: 20px;
  }
  
  .feedback-form label {
    color: white;
    margin-bottom: 10px;
    display: block;
  }
  
  .feedback-form input, .feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #222;
    color: white;
  }
  
  .feedback-form button {
    padding: 10px 20px;
    background-color: rgb(60, 28, 28);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .feedback-form button:hover {
    background-color: #301515;
  }
  
  footer {
    background-color: rgb(55, 23, 23);
    text-align: center;
    padding: 15px;
    margin-top: 30px;
  }
  
  footer p {
    color: white;
    font-size: 10px;
    line-height:1.2;
  }